# MongoDB
MONGO_URI=mongodb+srv://GDVault2026:tpRfjD7Mx9ode3Kq@cluster0.odxhugb.mongodb.net/gdvault?appName=Cluster0

# GitHub OAuth
GITHUB_CLIENT_ID=colle_ton_client_id_ici
GITHUB_CLIENT_SECRET=colle_ton_client_secret_ici

# JWT (change this to a random string in production)
JWT_SECRET=gdvault_super_secret_change_moi

# URLs
BACKEND_URL=https://gdvaultt.onrender.com
FRONTEND_URL=https://gdvaultt.onrender.com

PORT=3000
